body {
  min-height: 100vh;
  background: url(./components/assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.home-page {
  margin-top: 15vh;

}

.home-page img {
  animation: rotation 12s infinite linear;
}

@keyframes rotation {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(720deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@media screen and (max-width: 767px) {
  .home-page {
    margin-top: 25vh;
  }
}